body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  font-weight: 800;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.green {
  color: rgb(24, 205, 27);
}

.red {
  color: rgb(248, 6, 6);
}

.default {
  color: black;
  border-bottom: solid black;
}

.finished {
  color: black;
  font-size: 18px;
  background-color: thistle;
  font-style: italic;
  padding: 5px;
  margin: 10px;
}

.hidden {
  display: none;
}
